<!DOCTYPE html>
<html>
  <head>
    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    <meta charset="utf-8">
  </head>
  <body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
      {% block body %}
      {% endblock %}
    </div>

    <hr>

    <div>
      <ul>
        <li><a href="{% url 'rango:index' %}">Home</a></li>
        <li><a href="{% url 'rango:about' %}">About</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'rango:add_category' %}">Add a New Category</a></li>
        <li><a href="{% url 'auth_password_change' %}">Change password</a></li>
        <li><a href="{% url 'auth_logout' %}?next=/rango/">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'registration_register' %}">Register Here</a></li>
        <li><a href="{% url 'auth_login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>

  </body>
</html>
