{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block body %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
    {% load crispy_forms_tags %}
    <form action="." method="post" accept-charset="utf-8" class="form-register" role="form">
      <h2 class="form-heading">Register here</h2>
      {% csrf_token %}
      {{ form|crispy }}

      <button type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
    </form>
{% endblock %}
