{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Add Page{% endblock %}
{% block body %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">

    {% load crispy_forms_tags %}
    <form action="{% url 'rango:add_page' category.slug %}" method="post" id="page_form" role="form">
      <h2 class="form-heading">Add Page</h2>
      {% csrf_token %}
      {{ form|crispy }}

      <button type="submit" value="Add Page" class="btn btn-lg btn-primary center-block">Add Page</button>
    </form>
{% endblock %}
