{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}
{% block body %}
    {% if category %}
      <div class="page-header">
        <h1>{{ category_name }}</h1>
      </div>
      {% if pages %}
      <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% if user.is_authenticated %}
      <br>
      <a href="{% url 'rango:add_page' category.slug %}">Add Page</a>
      {% endif %}
      {% else %}
      <br>
      <strong>No pages currently in category.</strong>
      <br>
      {% endif %}
    {% else %}
      <div class="page-header">
        <h1>The specified category {{ category_name }} does not exist!</h1>
      </div>
    {% endif %}
{% endblock %}
