{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}
{% block body %}
    {% if category %}
      <div class="page-header">
        <h1>{{ category_name }}</h1>
      </div>

      <p>
        <strong id="like_count">{{ category.likes }}</strong>
        {% if user.is_authenticated %}
          <button id="likes" data-catid="{{ category.id }}" class="btn btn-sm btn-primary" type="button">Like</button>
        {% endif %}
      </p>

      {% if pages %}
      <ul class="list-group">
        {% for page in pages %}
        <li class="list-group-element">
          <span class="badge">{{ page.views }}</span>
          <a href="{% url 'rango:goto' %}?page_id={{ page.id }}" target="_blank">{{ page.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% if user.is_authenticated %}
      <br>
      <a href="{% url 'rango:add_page' category.slug %}" class="btn btn-primary" role="button">Add Page</a>
      {% endif %}
      {% else %}
      <br>
      <strong>No pages currently in category.</strong>
      <br>
      {% endif %}
    {% else %}
      <div class="page-header">
        <h1>The specified category {{ category_name }} does not exist!</h1>
      </div>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="row">
      <div class="panel panel-primary">
        <br>
        <!--<div class="col-md-10 col-md-offset-1">-->
          <form action="{% url 'rango:category' category.slug %}" method="post" class="form-inline" id="user_form" role="form">
            {% csrf_token %}
            <input type="text" size="50" name="query" value="{{query}}" id="query" class="form-control">

            <button type="submit" value="Search" name="submit" class="btn btn-primary">Search</button>
          </form>
        <!--</div>-->

        <div class="panel">
          {% if result_list %}
            <div class="panel-heading">
              <h3 class="panel-title"Results></h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                {% for result in result_list %}
                  <div class="list-group-item">
                    <h4 class="list-group-item-heading"><a href="{{ result.link }}" target="_blank">{{ result.title }}</a></h4>
                    <p class="list-group-item-text">{{ result.summary }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          {%endif%}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
