{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    {% if user.is_authenticated %}
    <h1>Rango says: Hello {{ user.username }}!</h1>
    {% else %}
    <h1>Rango says: Hello world!</h1>
    {% endif %}

    <h1>Top 5 Categories List</h1>

    {% if top5categories %}
      <ul>
        {% for category in top5categories %}
        <li><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}

    <h1>Top 5 Pages List</h1>

    {% if top5pages %}
      <ul>
        {% for page in top5pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no pages.</strong>
    {% endif %}
{% endblock %}
