<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rango</title>
</head>
  <body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
    <h1>Rango says: Hello {{ user.username }}!</h1>
    {% else %}
    <h1>Rango says: Hello world!</h1>
    {% endif %}

    <h1>Top 5 Categories List</h1>

    {% if top5categories %}
      <ul>
        {% for category in top5categories %}
        <li><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}

    <h1>Top 5 Pages List</h1>

    {% if top5pages %}
      <ul>
        {% for page in top5pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no pages.</strong>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
    <a href="{% url 'rango:add_category' %}">Add a New Category</a>
    <br>
    <a href="{% url 'rango:logout' %}">Log Out</a>
    {% else %}
    <a href="{% url 'rango:register' %}">Register Here</a>
    <br>
    <a href="{% url 'rango:login' %}">Login</a>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'rango:about' %}">About</a>
  </body>
</html>
