{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block body %}
    <h1>Login to Rango</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="{%  url 'rango:login' %}" method="post" id="login_form"  accept-charset="utf-8">
      {% csrf_token %}
      <label for="username_field">Username:</label><input type="text" name="username" value="" id="username_field" size="50">
      <br>
      <label for="password_field">Password:</label><input type="password" name="password" value="" id="password_field" size="50">
      <br>
      <p><input type="submit" value="Log in"></p>
    </form>
{% endblock %}
