{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Edit Profile{% endblock %}
{% block body %}
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">

    <div class="col-md-6 col-md-offset-3">
      {% load crispy_forms_tags %}
      <form action="{% url 'rango:edit_profile' %}" method="post" id="profile_form" role="form">
        <h2 class="form-heading">Edit Profile</h2>
        {% csrf_token %}
        {{ profile_form|crispy }}

        <button type="submit" value="submit" class="btn btn-lg btn-primary center-block">Submit</button>
      </form>
    </div>
{% endblock %}
